@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  
  --primary:#4145FB;
  --primary-hover:#575afd;
  --secondary:#ECECFF;
  --secondary-hover:#e2e2ff;
  --terciary: #52F0AE;
  --terciary-hover: #a6fad7;
  --bg:#FFFFFF;
  --bg-secondary:#F7F7F7;
  --bg-terciary:#EAEAEA;
  --dark-ligth:#4F4F4F;
  --dark-secondary:#AEAEAE;
  --dark-terciary:#c7c7c7;
  --shadow:rgba(65, 69, 251, 0.25);
}
