@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --primary: #4145fb;
  --primary-hover: #575afd;
  --primary-ligth: #1890FF;
  --primary-dark:#272AC2;
  --primary-disabled: #9496f1d3;
  --secondary: #ececff;
  --secondary-hover: #e2e2ff;
  --terciary: #52f0ae;
  --terciary-dark:#00C3A0;
  --terciary-hover: #a6fad7;
  --bg: #ffffff;
  --bg-secondary: #f7f7f7;
  --bg-terciary: #eaeaea;
  --dark-ligth: #4f4f4f;
  --dark-secondary: #aeaeae;
  --dark-terciary: #c7c7c7;
  --shadow: rgba(65, 69, 251, 0.25);
}
